.App{
  margin-bottom:120px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.outerButton{
  color:white !important;
  background-color: rgb(83, 36, 127) !important;
  border-color:rgb(83, 36, 127) !important;
}
.outerButton:hover{
  background-color: rgb(61, 26, 93) !important;
  border-color:rgb(61, 26, 93) !important;
}
@media screen and (max-width: 1000px){
  .App{
    font-size: 24px;
  }
}