.links{
    margin-right: 90px !important;
    margin-left: auto;
}
#outsideNav{
    height:80px;
    padding:10px;
    font-size:18px;
}
.nav-link{
    margin:15px;
    color:black !important;
}
.nav-link.active{
    color: rgb(139, 84, 187)!important; 
    border-bottom: 2px solid rgb(139, 84, 187);
    padding-bottom: 3px; 
}
.drops.active{
    background-color:rgb(41, 18, 63);
    color:white!important;
    border-bottom:none;
}
.nav-link:hover{  
    color: rgb(139, 84, 187)!important; 
    border-bottom: 2px solid rgb(139, 84, 187);
    padding-bottom: 3px; 
}
.dropdown-toggle::after{
    margin-left: 1em !important;
}
.dropdown-menu.show{
    padding:0px;
}
.drops{
    margin:unset !important;
    text-align: center;
    padding:10px !important;
}
.drops:hover{
    background-color:rgb(41, 18, 63);
    color:white!important;
    border-bottom:none;
}
#brand{
    margin-left:110px;
}
#brand a:hover{
    border-bottom:none;
    padding: .5rem 1rem;
}
@media screen and (max-width: 1000px){
.navbar-collapse{
    z-index:150 !important;
    background-color: white;
}
.navbar-collapse .nav-link:hover{
    background-color: rgb(41, 18, 63);
    color:white !important;
    text-decoration: none !important;
} 
#brand{
    margin-left: unset;
    margin:unset;
}
#outsideNav{
    padding:unset;
    height:unset;
    padding-right:10px;
    font-size:24px;
}
.drops{
    font-size:24px;
}
}