#outsideFooter{
    height:350px;
    background-color: rgb(41, 18, 63);
    color:white;
    display:block;  
    width:100%;
    padding-left:100px;
    padding-right:100px;
    padding-top: 80px;
    font-size: 17px;
}

#tableFooter a{
    color:white;
    text-decoration: none;
}
.footerTitle{
    font-size: 25px;
    padding-bottom:10px;
    
}
#tableFooter a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 8px;
}
#footerLogo{
    padding-bottom:18px;
}

@media screen and (max-width: 1000px){
    #outsideFooter{  
        height:700px;
        display:block;  
        width:100%;
        padding-left:40px;
        padding-right:40px;
        padding-top: 40px;
        font-size:22px;
    }
    .footerTitle{
        font-size:26px;
        padding-top:30px;
        padding-bottom:3px;
        margin-bottom:unset;
    }
}