#homepage{
    margin-top:140px;
    padding-bottom:120px;
}
#purpleHome{
    background-color: rgb(88,52,120);
    height:240px;
    width: auto;
    margin-top:100px;
}
/* mobile mode */
/* requires media query */
