#public-profile .outer-rows{
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    display: flex;
    justify-content: center;
}

#public-profile img{
    border-radius: 60px;
}
#skill-box{
    display: flex;
    flex-direction: column;
}
.flex-skill{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(61, 26, 93, 0.356);
    padding: 12px;
    padding-bottom: 5px;
    padding-top: 8px;
    border-radius: 5px;
    width:25%;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
}
.flex-skill p{
    margin-bottom: 0px;
}

